<p id="notice">
	<%= notice %>
</p>

<table>
	<tr>
		<th>Title:</th><td><%= @book.Title %></td>

	<tr>
		<th>data:</th><td><%= @book.Body %></td>
	</tr>
</table>

<p><%= link_to "Edit", edit_book_path(@book) %></p>
<p>|</p>
<p><%= link_to "Back", books_path %></p>